/* ======================= VARIABLES ==================== */
$smallScreenFlip: 1000ms;
$smallScreenScale: 1000ms;
$largeScreenFlip: 750ms;
$largeScreenScale: 1000ms;
$screenInnerTransition: 1500ms;

/* ======MEDIA QUERIES====== */
$mq-375: "(min-width: 375px)";
$mq-410: "(min-width: 410px)";
$mq-550: "(min-width: 550px)";
$mq-670: "(min-width: 670px)";
$mq-800: "(min-width: 800px)";
$mq-890: "(min-width: 890px)";
$mq-957: "(min-width: 957px)";
$mq-1000: "(min-width: 1000px)";
$mq-1070: "(min-width: 1070px)";
$mq-1150: "(min-width: 1150px)";
$mq-1350: "(min-width: 1350px)";
$mq-1700: "(min-width: 1700px)";
$mq-h-635: "(min-height: 635px)";
$mq-h-1024: "(min-height: 1024px)";
$mq-h-1051: "(min-height: 1051px)";
$mq-h-1400: "(min-height: 1400px)";

/* ======================= MIXINS ==================== */
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin noSelection {
  -webkit-touch-callout: none;
  user-select: none;
}

@mixin bgTexture {
  background-image: url('Images/bg-texture.webp');
  background-size: 720px 460px;
  background-repeat: repeat;
  background-position: center;
}

@mixin textRotation {
  font-weight: 900;
  color: #fff;
  letter-spacing: -0.1em;
  text-transform: uppercase;
  perspective: 1000px;
  transform: rotateX(-30deg) rotateY(30deg) rotateZ(10deg);
  text-shadow: 0 0.05em 0.1em rgba(#000, 0.5), 0 0 0.25em rgba(#000, 0.4);
}

@mixin threeDButtonHoverText {
  color: #000;
  text-shadow: none;
  transition: transform 0.5s 0s, box-shadow 0.5s 0s, color 0.3s 0s, text-shadow 0.3s 0s;
}

@mixin splitLetterHiddenState {
  opacity: 0;
  will-change: opacity, transform;
  transform: scale(0) rotateX(180deg) translateY(-150%);
}

@mixin splitLetterVisibleState {
  opacity: 1;
  transform: scale(1) rotateX(0deg) translateY(0%);
}

@mixin splitTextStagger($range, $opacityDelay: 500ms, $transformDelay: $opacityDelay, $stagger: 50ms, $easing: cubic-bezier(0.34, 1.56, 0.64, 1)) {
  @for $i from 1 through $range {
    &:nth-of-type(#{$i}) {
      transition: opacity 1s #{$opacityDelay - $stagger * $i},
      transform 1.75s #{$transformDelay - $stagger * $i} $easing;
    }
  }
}

@mixin splitTextStaggerReversal($range, $opacityBase: 950ms, $transformBase: 150ms, $stagger: 50ms, $easing: cubic-bezier(0.36, 0, 0.66, -0.56)) {
  @for $i from 1 through $range {
    &:nth-of-type(#{$i}) {
      transition: opacity 0.5s #{$opacityBase - $stagger * $i},
      transform 1.25s #{$transformBase - $stagger * $i} $easing;
    }
  }
}

@mixin headingFontSizes {
  margin: 0;
  font-size: 22.5vw;

  @media #{$mq-670} {
    font-size: 22vw;
  }

  @media #{$mq-890} {
    font-size: 22.5vw;
  }

  @media #{$mq-957} {
    font-size: 17.5vw;
  }

  @media #{$mq-1150} {
    font-size: min(16vw, 230px);
  }
}

@mixin splitTextStyles {
  @include center;
  @include headingFontSizes;
  @include textRotation;

  &>.letter {
    @include splitLetterHiddenState;
  }
}