@use "Styles/Variables";

:host>h2 {
	@include Variables.center;

	color: #fff;
	font-size: min(12.5vw, 70px);
	text-transform: uppercase;
	letter-spacing: -0.1em;
	font-weight: 900;
	margin: 0;
	text-shadow: 0 0.05em 0.075em rgba(#000, 0.4), 0 0.025em 0.2em rgba(#000, 0.5);

	&>div {
		opacity: 0;
		transform: scale(0) rotateX(180deg) translateY(-150%);
	}
}