@use "Styles/Variables";

:host {
  --background-small: "";
  --background-large: "";
  position: absolute;
  top: 0;
  left: 0;
  @include Variables.fill;
  user-select: none;
  background: linear-gradient(to bottom, rgba(#000, 0), rgba(#000, 0.5)), var(--background-small) no-repeat center;
  background-size: cover;

  @include Variables.center;

  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0 2.5px 15px rgba(#000, 0.25);

  @media #{Variables.$mq-670} {
    background: linear-gradient(to bottom, rgba(#000, 0), rgba(#000, 0.5)), var(--background-large) no-repeat center;
    background-size: cover;
  }

  &>article {
    z-index: 2;
    @include Variables.center;

    position: relative;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
  }
}