@use "Styles/Variables";

:host {
	height: 150px;
	width: 150px;
	will-change: transform;

	@media #{Variables.$mq-670} {
		transform: scale(1.5);
	}

	@media (pointer:none),
	(pointer:coarse) {
		margin-top: -20%;
	}

	&>div {
		position: relative;
		width: 150px;
		height: 150px;

		@include Variables.center;

		transform-style: preserve-3d;
		transform: perspective(500px) rotateX(45deg) scale(0.8);
	}

	& span {
		position: absolute;
		display: block;
		border: 15px solid #fff;
		box-sizing: border-box;
		border-radius: 50%;
		animation: animate 4.5s ease-in-out infinite;

		&:nth-child(1) {
			animation-delay: 0s;
		}

		&:nth-child(2) {
			animation-delay: -1.5s;
		}

		&:nth-child(3) {
			animation-delay: -3.0s;
		}
	}
}

@keyframes animate {
	0% {
		transform: translate3d(0, 0, -65px);
		width: 100%;
		height: 100%;
	}

	25% {
		transform: translate3d(0, 0, 65px);
		width: 100%;
		height: 100%;
	}

	50% {
		transform: translate3d(0, 0, 65px);
		width: 35%;
		height: 35%;
	}

	75% {
		transform: translate3d(0, 0, -65px);
		width: 35%;
		height: 35%;
	}

	100% {
		transform: translate3d(0, 0, -65px);
		width: 100%;
		height: 100%;
	}
}